.form-shadow{
    /* box-shadow: 5px 5px 5px rgb(1, 95, 130); */
    padding: 15px;
    /* background-color: #adadad; */
    background-color: rgba(249,246,239,255);
    padding-bottom: 10px;
    /* border-radius: 10%; */
    /* border: 1px solid black; */
}

.doctor-image{
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 50%;
}

.fonter{
    font-family: 'Fredoka', sans-serif;
}

.head-clr{
    /* color: rgb(1, 95, 130); */
    color: rgb(0, 88, 123);
}